{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Description": "A Simple S3 CFN Template",
  "Resources" : {
    "S3Bucket" : {
      "Type" : "AWS::S3::Bucket",
      "Properties" : {
      }
    }
  },
  "Outputs" : {
    "S3BucketName" : {
      "Value" : {"Ref": "S3Bucket"},
      "Description" : "a-first-s3-bucket"
    }
  }
}